#first{
	  overflow:hidden;
	  background-color:pink;
	  border:3px solid black;
	  
	  }
	  
a{
 text-color:black;
 text-decoration:none;
 padding:35px 35px;
 }
 
 a:hover{
		background-color:yellow;
		color:red;
		}

		   

#main{
	background-image:url("bck.png");
	background-repeat:no-repeat;
	background-size:cover;
	height:600px;
	}
	
#hd{
	color:white;
	text-align:center;
   }
   
* {
	  box-sizing:border-box;
  }
	 
#pic{
	float:left;
	width:25%;
	padding:5px;
	}
	
#second::after{
				content:"";
				display:table;
				clear:both;
			}
	